<!DOCTYPE html>
<html>
<head>
<style>
    html {
        scroll-behavior: smooth;
        font-size: 62.5%;
    }
    * {
        margin: 0; padding: 0;
        box-sizing: border-box;
    }
</style>
</head>
<body>
    {{!-- <h1>cool</h1>
    {{>check}} --}}



    {{#each data}}
        <div style="display: flex; align-items: center; background: linear-gradient(to top left, blue, cyan); padding: 1% 5%; font-size: 2rem; margin: 1% 0%;" >
            
            <div style="width: 20%;" > <p> {{this.id}} </p> </div>
            
            <div>
                <p> Subject:  {{this.subject}} </p>
                <p> Status:  {{this.status}} </p>
                <p> Priority:  {{this.priority}} </p>
                <p> Type: {{this.type}} </p>
            </div>

        </div>
    {{/each}}


<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();

    socket.emit("new", "Hello from frontend!!!");
    socket.on("new_message", (data) => console.log(data));

</script>

</body>
</html>